
table {
	width: 100%;
}

td,th {
	padding-left: 1rem;
}
th{
	padding-top: .5rem;
	padding-bottom: .5rem;
}
td{
	padding-bottom: .5rem;
}

.card{
	margin-bottom: 1rem;
}

#armyChoice {
	background-color: black;
	color: white;
	overflow: auto;
	width:100%;
	height:100%;
}

#armyChoice .card{
	background-color: gray;
	color: black;
	border-radius: 2px;
}

.armyCard:hover{
	border: 2px solid white;

}